<div class="todoMainHolderCls">

    <div class="mainBtnHolderCls">
        <button (click)="showhideAddHolder()" class="todoBtnCls">Add</button>
        <button (click)="multipleDel()" class="todoBtnCls">Delete</button>
        <input (keyup)="srchTodotask($event)" [(ngModel)]="srchStr" style="height: 20px;" type="text" vlaue="" placeholder="Search" />
    </div>

    {{srchStr}}

    <div *ngIf="(todoTaskArr.length == 0)">
        No task added
    </div>

    <div *ngIf="!showAddHolder" class="mainTodoListHolderCls">

        <div *ngFor="let val of todoTaskArr;" class="mainTodotHolderCls">
            <!-- <input type="checkbox" value="" /> -->
            <div class="checkBoxLabelHolderCls">
                <div class="checkboxCls"><input type="checkbox" (change)="addRemoveTask($event)" [value]="val.id" /></div>
                <div>{{val.name}}</div>
            </div>
            <div class="taskBtnHolderCls">
                <button (click)="showhideAddHolder(val.id)" class="todoBtnCls">Edit</button>
                <button (click)="delTodoTask(val.id)" class="todoBtnCls">Delete</button>
            </div>
        </div>


    </div>

    <div *ngIf="showAddHolder" class="todoAddHolderCls">
        <div class="txtBoxHolderCls" style="background-color: Pink;font-weight: bold;font-size: 20px;">
            <div class="addTodoLableCls">{{addEditLable}}</div>
        </div>
        <div class="txtBoxHolderCls" style="background-color: red;">
            <div class="addTodoLableCls">Name</div>
            <div><input type="textbox" [(ngModel)]="addtaskArr.name" value="{{addtaskArr.name}}" /></div>
            <div *ngIf="showNameErrMsg">Name must be min 3 character</div>
        </div>
        <div class="txtBoxHolderCls" style="background-color: yellow;">
            <div class="addTodoLableCls">Description</div>
            <div><input type="textbox" [(ngModel)]="addtaskArr.desc" value="{{addtaskArr.desc}}" /></div>
        </div>
        <div class="txtBoxHolderCls" style="background-color: green;">
            <div class="addTodoLableCls">Date</div>
            <div><input type="textbox" [(ngModel)]="addtaskArr.date" value="{{addtaskArr.date}}" /></div>
        </div>
        <div class="txtBoxHolderCls" style="background-color: blue;justify-content: flex-end;">
            <button (click)="addEditTodoTask()" [disabled]="(addtaskArr.name.length > 0 && addtaskArr.desc.length > 0 && addtaskArr.date.length > 0) ? false : true" class="todoBtnCls">{{addEditLable}}</button>
            <button (click)="showhideAddHolder()" class="todoBtnCls">Cancel</button>
        </div>

    </div>

</div>