<div class="todoMainHolderCls">

    <div class="mainBtnHolderCls">
        <button class="todoBtnCls">Add</button>
        <button class="todoBtnCls">Delete</button>
    </div>

    <div class="mainTodoListHolderCls">

        <div class="mainTodotHolderCls">
            <!-- <input type="checkbox" value="" /> -->
            <div class="checkBoxLabelHolderCls">
                <div class="checkboxCls"><input type="checkbox" value="" /></div>
                <div>Here label text will come</div>
            </div>
            <div class="taskBtnHolderCls">
                <button class="todoBtnCls">Edit</button>
                <button class="todoBtnCls">Delete</button>
            </div>
        </div>
        <div class="mainTodotHolderCls">
            <!-- <input type="checkbox" value="" /> -->
            <div class="checkBoxLabelHolderCls">
                <div class="checkboxCls"><input type="checkbox" value="" /></div>
                <div>Here label text will come</div>
            </div>
            <div class="taskBtnHolderCls">
                <button class="todoBtnCls">Edit</button>
                <button class="todoBtnCls">Delete</button>
            </div>
        </div>
        <div class="mainTodotHolderCls">
            <!-- <input type="checkbox" value="" /> -->
            <div class="checkBoxLabelHolderCls">
                <div class="checkboxCls"><input type="checkbox" value="" /></div>
                <div>Here label text will come</div>
            </div>
            <div class="taskBtnHolderCls">
                <button class="todoBtnCls">Edit</button>
                <button class="todoBtnCls">Delete</button>
            </div>
        </div>
        <div class="mainTodotHolderCls">
            <!-- <input type="checkbox" value="" /> -->
            <div class="checkBoxLabelHolderCls">
                <div class="checkboxCls"><input type="checkbox" value="" /></div>
                <div>Here label text will come</div>
            </div>
            <div class="taskBtnHolderCls">
                <button class="todoBtnCls">Edit</button>
                <button class="todoBtnCls">Delete</button>
            </div>
        </div>


    </div>


</div>