/* You can add global styles to this file, and also import other style files */

.textName {
    color: blue;
}

// Todo Compponent Styles
.todoMainHolderCls {
    width: 90%;
    height: 500px;
    border: 1px solid grey;
    background-color: aqua;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.mainBtnHolderCls {
    display: flex;
    height: 75px;
}

.todoBtnCls {
    background-color: #008cba;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}

.todoTaskHolderCls {
    display: flex;
    flex: 1;
    height: 30px;
}

.mainTodoListHolderCls {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 80px;
}

.mainTodotHolderCls {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 80px;
    border: 1px solid blue;
    border-radius: 4px;
    margin-bottom: 10px;
}

.taskBtnHolderCls {
    width: 255px;
}

.checkBoxLabelHolderCls {
    display: flex;
    // flex: 1;
    display: flex;
    flex: 1;
    justify-content: start;
    align-items: center;
}

.checkboxCls {
    margin: 20px;
}

.todoAddHolderCls {
    display: flex;
    padding: 20px;
    background-color: orange;
    flex-direction: column;
    height: 300px;
}

.txtBoxHolderCls {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}

.addTodoLableCls {
    margin-right: 20px;
    width: 150px;
}